name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH and Deploy
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd Demo-Assignment
            git pull
            docker stop devops-app || true
            docker rm devops-app || true
            docker build -t nodejsimage .
            docker run -d -p 3000:3000 --name nodejscontainer nodejsimage
